
<div  class = "card-colums m-4 animated fadeIn">
    
    <div (click)="verArtista(item)" *ngFor="let item of items" class="card puntero" style="width: 18rem;">
   
      <img [src]="item.images |noimage" class="card-img-top" alt="...">
      
       <div class="card-body">
        <h4 class="card-title"> {{item.name}} </h4>
      
      <p class="card-text"><span *ngFor="let artista of item.artists" class="badge text-bg-dark">{{artista.name}} </span></p>
      
      </div>
      
     </div>
  </div>
